<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find tome)/maps/my_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find tome)/params/amcl.yaml" command="load"/>
    <remap from="scan" to="scan" />
    <remap from="cmd_vel" to="/cmd_vel"/>
​    <remap from="particlecloud" to="/particlecloud"/>

  
  </node>
    
</launch>
